@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&family=Raleway:wght@300;400;700;900&family=DM+Sans:wght@300;400;500&display=swap');

*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body {
  background: var(--bg);
  color: var(--white);
  font-family: var(--body);
  overflow-x: hidden;
}
a { text-decoration: none; color: inherit; }